*{
    margin: 0;
    padding:0;
}
body{
    background: linear-gradient(rgb(0, 0, 39),rgb(59, 0, 33));
    height: 100vh;
    font-family: system-ui;
}
section{
    background: url(stars1.png);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    text-align: center;
}
ul:hover li a{
   opacity: 0;
}
ul li{
    list-style: none;
    margin: 14px 0;
}


ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 25px ;
    font-weight: 500;
    letter-spacing: 4px;
    background-color: brown;
    padding: 6px 15px;
    line-height: 45px;
    border-radius: 45px;
    width: 150px;
    text-transform: uppercase;
    display: inline-block;
    transition: 0.5s;
    position: relative;
    z-index: 10;
}
ul li a:hover {
    transform: scale(1.5);
    background: rgb(255, 145, 0);
    opacity: 1;
}
ul li::after{
 content: attr(data-text);
 color: aliceblue;
 position:absolute;
 left:50%;
 top:50%;
 transform: translate(150px,-50%);
 font-size: 90px;
 font-weight: 900;
 text-transform: uppercase;
opacity: 0;
pointer-events: none;
letter-spacing: 50px;
transition: 0.5s;
}
ul li:hover::after {
    opacity: 0.5;
    letter-spacing: 5px;
}
ul li::before{
    content:'';
    width: 180px;
    height: 80px;
    background-color: aliceblue;
    position: absolute;
    border-radius: 50%;
    left:50%;
    top:50%;
    transform: translate(200px,115%);
    box-shadow: 0 0 90px rgb(255, 255, 255);
    opacity: 0;
    transition: 0.5s;
}
ul li:hover::before{
    opacity: 1.5;
    width: 80px;
}
